

@media  (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: 3rem;
        
        /* padding-left: 3rem; */
        font-size: 17px; 
        
    }
}


background-color: #eeeeee; 