.fline {
    background-color: #EA7323;
    padding-top: 7px; 
    margin-top: 0; 

} 


.gray-line {
    padding-top: 16px;
    width: 1px;
    background-color: gray;
    margin-left: 10px;
}


.Sline {
    padding-top: 8px;
    background-color: #aa3b3d;
}