
   .Navs-color {
       background-color: #eeeeee; 
   }
   
      

.fline {
    background-color: #EA7323;
    padding-top: 10px; 
    margin-top: 0; 

} 


.gray-line {
    padding-top: 16px;
    width: 1px;
    background-color: gray;
    margin-left: 10px;
}


.Sline {
    padding-top: 10px;
    background-color: #aa3b3d; 
}


.navbar-light .navbar-nav .nav-link {
    color: #AA3B3D;
    margin-left: 5%;
  } 



 .S-icon {
    position: relative;
    left: 3%;
 }

  .search {
      display: flex;
      /* align-items: center; */
      width: 40%;
      margin-left: 1%; 
      border-radius: 30px;
      border: none;
      padding: 0.4rem;
      background-color: white;
      font-size: 1rem;
      word-spacing: 3px;
  }


  .dropdown-menu {
      border-radius: 30px;
  } 


   
  
  .drop {
      display: flex;
      margin: 1rem;
      flex-direction: column;
      min-width: 350px;
      border-bottom: 1px solid  rgb(160, 158, 158);
    /* background-color: red; */    
    } 


    
    .cart-row {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

    }


  .test {
      width:100px;
       height: auto
  }


  .details {
    display: flex;
    width: 100% 

  } 


 .f-child {
    display: flex;
    flex-direction: column; 
    width: 60%;

 }

 .S-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%; 
    align-items: flex-end;
}




.button-cart {
    display: flex;
    justify-content: space-evenly;
    
}

.button-cart button {
    width: 40%;
    background-color: #AA3B3D;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
    border: none;
    text-align: center;
}



.user-icon {
    margin-left: 1%;
}





    @media (max-width: 551px) {
        .drop {
            display: flex;
            margin: 0rem;
            flex-direction: column;
            width: 2%;
            border-bottom: 1px solid  rgb(160, 158, 158);
          /* background-color: red; */ 
         
          }  

          body {
         
            margin-right: 8%;
        } 

        .f-child {
            display: flex;
            flex-direction: column; 
            width: 50%;
        
         } 

         .S-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%; 
            align-items: flex-end;
        } 


        .search {
            display: flex;
            justify-content: start;
            width: 100%;
            margin-right: 3%;
            font-size: 12px;
           
        } 

        .S-icon {
            position: relative;
             top:  10px ;
         }
    }


  
  
  

